@import "tailwindcss";

/* Tailwind v4 tokens (you can use them directly in classNames, e.g. bg-brand) */
@theme {
  --color-brand: #00683A;
  --color-brand-600: #045C35;
  --color-brand-700: #064D2C;

  --color-accent: #4FB865;
  --color-accent-600: #42A957;

  --shadow-soft: 0 8px 30px rgba(0, 0, 0, 0.08);
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-800 antialiased;
}
